#queryPlanParent {
    background-color: var(--vscode-editor-background);
}

.graph-cell .graph-icon-badge-expand {
    background-size: 12px 12px;
    background-color: transparent;
}

.vscode-light .graph-cell .graph-icon-badge-expand.collapsed,
.vscode-high-contrast.vscode-high-contrast-light .graph-cell .graph-icon-badge-expand.collapsed {
    background-image: url("./icons/collapse_light.svg");
}

.vscode-light .graph-cell .graph-icon-badge-expand.expanded,
.vscode-high-contrast.vscode-high-contrast-light .graph-cell .graph-icon-badge-expand.expanded {
    background-image: url("./icons/expand_light.svg");
}

.vscode-dark .graph-cell .graph-icon-badge-expand.collapsed,
.vscode-high-contrast .graph-cell .graph-icon-badge-expand.collapsed {
    background-image: url("./icons/collapse_dark.svg");
}

.vscode-dark .graph-cell .graph-icon-badge-expand.expanded,
.vscode-high-contrast .graph-cell .graph-icon-badge-expand.expanded {
    background-image: url("./icons/expand_dark.svg");
}
