<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        
        <link rel="stylesheet" href="/css/bootstrap.css"/>
        <link rel="stylesheet" href="/css/backgrid.css"/>
        <link rel="stylesheet" href="/css/backgrid-filter.css"/>
        <link rel="stylesheet" href="/css/backgrid-paginator.css"/>
        <script src="/scripts/jquery.js"></script>
        <script src="/scripts/underscore.js"></script>
        <script src="/scripts/lunr.js"></script>
        <script src="/scripts/bootstrap.js"></script>
        <script src="/scripts/backbone.js"></script>
        <script src="/scripts/backbone.paginator.js"></script>
        <script src="/scripts/backgrid.js"></script>
        <script src="/scripts/backgrid-filter.js"></script>
        <script src="/scripts/backgrid-paginator.js"></script>
        <script src="/scripts/sqlOutput.js"></script>
    </head>
    <body>
        <!-- Lots of great info about bootstrap here: http://www.w3schools.com/bootstrap -->
        <div class="container-fluid">
            <h4>MSSQL Output</h4>
            <ul class="nav nav-tabs" id="sqlOutputTabs" margin: 10px>
                <!-- tabs for messages & results are dynamically added here -->
            </ul>
            
            <div id="sqlOutputTabContent" class="tab-content">
                <div id="tabResultset" class="tab-pane fade in active">
                    <div id="resultsetContainerId"></div>
                </div>
                <div id="tabMessages" class="tab-pane fade">
                    <div id="messagesContainerId"></div>
                </div>
            </div>
            <div id="log"></div>
        </div>
    </body>
</html>