out
node_modules
packages
.DS_Store
*.dat
*.db
*.exe
*.log
*.nupkg
*.orig
*.vsix
*.trx
*BROWSE.VC*
tools
examples
sqltoolsservice
coverage
coverage-remapped
test-reports
.vscode-test
localization/i18n/
src/constants/localizedConstants.ts
package.nls.*.json
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
webviews-metafile.json