language: node_js
node_js:
  - "6.9.1"
before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
install:
  - npm install
before_script:
  - npm install -g gulp-cli
script:
  - gulp install
  - gulp build
  - "./node_modules/.bin/karma start --single-run --browsers Chrome"