.github
.vscode
build
coverage
coverage-remapped
lib
localization
out/test
packages
samples
src
tasks
test
typings
test-reports

.gitignore
.mention-bot
coverconfig.json
extensionlaunched.dat
gulpfile.js
tsconfig.json
tslint*.json
**/*.map
**/*.ts