.github
.vscode
build
coverage
coverage-remapped
lib
localization
! localization/l10n
out/test
packages
samples
src
tasks
test
typings
test-reports
.husky
.gitignore
.mention-bot
extensionlaunched.dat
tsconfig.json
tsconfig.*.json
tslint*.json
**/*.map
**/*.ts
webviews-metafile.json
images/ux
FEATURES.md
.nyc_output
.eslintcache
.git-blame-ignore-revs
.vscode-test.mjs
CODE_FORMATTING.md
DEVELOPMENT.md
eslint
eslint.config.mjs
KERBEROS_HELP.md
prettier.config.mjs
scripts
out
node_modules/**