<?xml version="1.0" encoding="utf-8"?>
<configuration >

  <config>
    <add key="DefaultPushSource" value="http://SQLISNuget/DS-SSMS/api/v2/package" />
  </config>

  <packageSources>
    
    <!-- Add the SSMS repo for private requirements -->
    <add key="SQLDS - SSMS" value="http://SQLISNuget/DS-SSMS/nuget/" />
  </packageSources>

</configuration>
