# To run tests locally, create a .env file next to this file and set the environment variables
# as desired to establish a connection with a database.

# The name of the VS Code version name.
# Options are: "stable", "insiders"
VS_CODE_VERSION_NAME=stable

# The name of the database server to connect to.
# This value is the name of the server that will be used by the tests.
SERVER_NAME=(localdb)\MSSqlLocalDb

# The name of the database to connect to.
# This value is optional and can be left empty.
DATABASE_NAME=

# The authentication type to use to connect to the server.
# Options are: "SQL Login", "Integrated", "Microsoft Entra Id - Universal w/ MFA Support"
AUTHENTICATION_TYPE=SQL Login

# The username to log in to the database.
USER_NAME=test-user

# The password to log in to the database.
PASSWORD=

# Indicates whether to save the login password for future logins.
# Options are: "Yes", "No"
SAVE_PASSWORD=No

# The profile name is the name that will appear for the connection profile.
# This value is optional and can be left empty.
PROFILE_NAME=test-server
