<div class="fullsize vertBox">
    <tab class="boxRow content maxHeight" *ngIf="messages.length > 0" [id]="SelectedTab.Messages" tabTitle="Messages">
        <div *ngFor="let message of messages">
            {{message}}
        </div>
    </tab>
    <tab *ngIf="dataSets.length > 0" [icons]="dataIcons" [id]="SelectedTab.Results" tabTitle="Results" class="boxRow content vertBox">
        <div class="boxRow content horzBox slickgrid" *ngFor="let dataSet of dataSets; let i = index">
            <slick-grid [columnDefinitions]="dataSet.columnDefinitions"
                        [dataRows]="dataSet.dataRows"
                        (contextMenu)="openContextMenu($event, dataSet.batchId, dataSet.resultId)"
                        showDataTypeIcon="false"
                        showHeader="true"
                        (keydown)="onKey($event, dataSet.batchId, dataSet.resultId, i)"
                        class="boxCol content vertBox slickgrid scrollable">
            </slick-grid>
            <span class="boxCol content vertBox">
                <div class="boxRow content gridIcon maxHeight" *ngFor="let icon of dataIcons">
                    <a href="#"
                    (click)="icon.functionality()"
                    [title]="icon.hoverText">
                        <img [src]="icon.icon" (alt)="icon.hoverText">
                    </a>
                </div>
            </span>
        </div>
        <context-menu (clickEvent)="handleContextClick($event)"></context-menu>
    </tab>
</div>
