html,
body {
    height: 100%;
    margin: 0;
}

.fullsize {
    height: 100%;
}
/* vertical box styles */
.vertBox {
    display: flex;
    flex-flow: column;
}

.vertBox .boxRow.header {
    flex: 0 0 auto;
}

.vertBox .boxRow.content {
    flex: 100 1 1%;
    overflow: hidden;
}

.vertBox .boxRow.content.scrollable {
    overflow: scroll;
}

.vertBox .boxRow.content.maxHeight {
    max-height: fit-content;
}

.messages {
    min-height: 20%;
    flex-shrink: 100;
    flex-grow: 1;
}

.vertBox .boxRow.content.minHeight {
    min-height: fit-content;
}

.vertBox .boxRow.content .slickgrid {
    min-height: 232;
}

/* horizontal box style */
.horzBox {
    display: flex;
    flex-flow: row;
}

.horzBox .boxCol.content {
    flex: 1 1 1%;
    overflow: auto;
    max-width: fit-content;
    min-height: fit-content;
}

.hidden {
    display: none;
}

/* testing

.vertBox {
    border: 1px solid green;
}

.horzBox {
    border: 1px solid red;
}
*/