* {
  --color-content: #101010;
  --color-content-disabled: #a9a9a9;
  --color-error: #E81123;
  --color-success: #7CD300;
  --color-bg-header: hsla(0,0%,50%,.2);
  --color-bg-content-light: #ffffff;
  --color-bg-content-header: #F5F5F5; /* used for color of grid headers */
  --color-cell-border-active: grey;
  --color-cell-bg-grid-selected: rgb(173, 214, 255);
}

a {
  color: #0078D7;
}

a:hover {
  color: #0b93ff;
}

/* grid styling */

slick-grid.active .grid .slick-cell.active {
  border: dotted 1px var(--color-cell-border-active);
}

slick-grid.active .grid .slick-cell.selected {
  background-color: var(--color-cell-bg-grid-selected);
}

.boxRow.content.horzBox.slickgrid {
  border: solid 1px #EEEEF2;
}

/* icons */
.icon.extendFullScreen {
  background-image: url('/dist/images/ExtendToFullScreen_16x_vscode.svg');
}

.icon.exitFullScreen {
  background-image: url('/dist/images/ExitFullScreen_16x_vscode.svg');
}

.icon.saveJson {
  background-image: url('/dist/images/ResultToJSON_16x_vscode.svg');
}

.icon.saveCsv {
  background-image: url('/dist/images/ResultToCSV_16x_vscode.svg');
}


/* headers */
.header {
  background: var(--color-bg-header);
  color: var(--color-content);
}

.collapsible:not(.collapsed) {
    background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath fill='%23646465' d='M11 10.07H5.344L11 4.414v5.656z'/%3E%3C/svg%3E");
    background-repeat:no-repeat;
    background-position: 2px;
}

.collapsible {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath fill='%23646465' d='M6 4v8l4-4-4-4zm1 2.414L8.586 8 7 9.586V6.414z'/%3E%3C/svg%3E");
    background-repeat:no-repeat;
    background-position: 2px;
}

/* scroll bar */

::-webkit-scrollbar {
  width: 14px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: hsla(0,0%,47%,.4);
}
::-webkit-scrollbar-thumb:hover {
  background: hsla(0,0%,39%,.7);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(85,85,85,0.8);
}
::-webkit-scrollbar-track {
  background: var(--background-color);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* context menu */
.contextMenu {
  border: 1px solid silver;
  box-shadow: 2px 2px 2px silver;
  border-color: silver;
}

.shortCut {
  color: grey;
}