src
#out
out/test
tsconfig.json
tsconfig.extension.json
.gitignore
coverage
coverConfig.json
extension.webpack.config.js
scripts
test
test-reports
test-results/**
.vscode
.vscode-test.mjs
.nyc_output
*.vsix
**/*.nupkg
