#root {
    overflow: hidden;
}

.body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
}

#graphContainer {
    position: relative;
    width: 100%;
    min-width: 100%;
    min-height: calc(100vh - 20px);
    user-select: none;
}

.sd-outline {
    width: 300px;
    height: 200px;
    overflow: auto;
}
