#root {
  overflow: hidden;
}

.body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
}

#graphContainer {
  position: relative;
  width: 100%;
  height: 100%;
  user-select: none;
  z-index: 1;
}

.sd-outline {
  width: 100px;
  height: 100px;
  overflow: auto;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.sd-toolbar-belt {
  z-index: 9999 !important;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
}

.sd-editor {
  z-index: 10;
  width: 400px;
  height: 400px;
  position: absolute;
  transform-origin: top left;
  border: 1px solid var(--vscode-badge-background);
  background-color: var(--vscode-editor-background);
  border-radius: 3px;
  padding: 3px;
}
