* {
  --color-h1: #FF5500;
  --color-h2: #FCF8E3;
  --color-content: #E5E5E5;
  --color-content-disabled: grey;
  --color-content-light: #ffffff;
  --color-active: #FF6000;
  --color-blank: #FFFFFF;
  --color-inactive: #808387;
  --color-error: #E81123;
  --color-success: #7CD300;
  --color-bg-header: hsla(0,0%,50%,.2); /* used for pane toolbars */
  --color-bg-content: #333333;
  --color-bg-content-light: #4d4d4d;
  --color-bg-content-dark: #1a1a1a;
  --color-bg-content-header: rgb(100, 100, 100); /* used for color of grid headers */
  --color-toolbar: #FAFAFA;
  --color-bg-toolbar: #31708F;
  --color-toolbar-border: #FAFAFA;
  --color-icon-default: #ffffff;
  --color-icon-hover: #E5E5E5;
  --color-border-default: #767676;
  --color-border-light: #ffffff;
  --color-border-active: #FF6000;
  --color-chart-bar: #8ad4eb;
  --color-chart-bar-hover: #aae0f0;
  --color-chart-bar-selected: #6eaabc;
  --color-chart-bar-selected-hover: #7cbfd3;
  --color-chart-axis-dark: #888888;
  --color-chart-axis-light: #EAEAEA;
  --color-chart-old-data: #C8C8C8;
  --color-chart-label: #000000;
  --color-chart-tooltip-border: #000000;
  --color-chart-bg-tooltip: #FFFFFF;
  --color-chart-line: #000000;
  --color-chart-bar-border: #404040;
  --color-grid-selected: rgba(0, 111, 148, 0.2);
  --color-border-grid-active: #FF6000;
  --color-start-page-primary-bg: #E7E8E8;
  --color-start-page-primary-text: #E5E5E5;
  --color-start-page-primary-text-light: #ffffff;
  --color-start-page-secondary-bg: #596675;
  --color-start-page-secondary-text: #FFFFFF;
  --color-start-page-secondary-text-dark: #bfbfbf;
  --color-grid-cell-preview-bg: #3d3d3d;
  --grid-cell-color: #1a1a1a;
}

a {
  color: #FF6000;
}

a:hover {
  color: #ff8033;
}

.boxRow.content.horzBox.slickgrid {
  border: solid 1px grey;
}

slick-grid {
  border-style: solid;
  border-color: grey;
  border-width: 0 0 3 0;
}

slick-grid:last-of-type {
  border-width: 0 0 0 0;
}

.icon.extendFullScreen {
  background-image: url('images/ExtendToFullScreen_16x_vscode_inverse.svg');
}

.icon.exitFullScreen {
  background-image: url('images/ExitFullScreen_16x_vscode_inverse.svg');
}

.icon.saveJson {
  background-image: url('images/ResultToJSON_16x_vscode_inverse.svg');
}

.icon.saveCsv {
  background-image: url('images/ResultToCSV_16x_vscode_inverse.svg');
}

/* headers */
.header {
  background: var(--color-bg-header);
  color: var(--color-content);
}

.collapsible:not(.collapsed) {
    background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath fill='%23e8e8e8' d='M11 10.07H5.344L11 4.414v5.656z'/%3E%3C/svg%3E");
    background-repeat:no-repeat;
    background-position: 2px;
}

.collapsible {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath fill='%23e8e8e8' d='M6 4v8l4-4-4-4zm1 2.414L8.586 8 7 9.586V6.414z'/%3E%3C/svg%3E");
    background-repeat:no-repeat;
    background-position: 2px;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 14px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: hsla(0,0%,47%,.4);
}
::-webkit-scrollbar-thumb:hover {
  background: hsla(0,0%,39%,.7);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(85,85,85,0.8);
}
::-webkit-scrollbar-track {
  background: var(--background-color);
}

::-webkit-scrollbar-corner {
  background: transparent;
}