/* styles.css */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.sqlServerSvg {
    animation: rotate 2s linear infinite;
}
